@model DataTableModel

<div style="display:none" id="lastCommand">
  @Model.Command
</div>

<table id="tableData" count="@Model.Data.Count" created="@DateTime.Now.ToString("HH:mm:ss")">
  @foreach (MobilePaywall.Ol.Core.Tables.EntranceTable table in Model.Data)
  {
    <tr class="tr_@table.PaymentStatus" 
        userSessionID="@table.UserSessionID" 
        userSessionGuid="@table.UserSessionGuid" 
        identificationSessionGuid="@table.IdentificationSessionGuid" 
        date="@table.UserSessionCreated.ToString()" 
        @*pxid="@table.Pxid" 
        ip="@table.IPAddress"*@
        ondblclick="_manager.doubleClick(this);">
      <td>
        @if(!string.IsNullOrEmpty(table.CountryCode))
        {
          <img src="@string.Format("/Images/_Flags/{0}.png", table.CountryCode.ToLower())" alt="@table.CountryName" title="@table.CountryName" />
        }
      </td>
      <td class="@if (!table.UserSessionCreated.HasValue) { @Html.Raw("td_null"); }">
        @ViewDateConverter.GetDate(table.UserSessionCreated)
      </td> 
      <td class="@if (string.IsNullOrEmpty(table.Pxid)) { @Html.Raw("td_null"); } usPxid">@table.Pxid</td>
      <td class="@if (string.IsNullOrEmpty(table.ServiceName)) { @Html.Raw("td_null"); }">
        @table.ServiceName
      </td>
      <td class="@if (string.IsNullOrEmpty(table.MobileOperator)) { @Html.Raw("td_null"); }">
        @table.MobileOperator
      </td>
      <td class="@if (string.IsNullOrEmpty(table.IPAddress)) { @Html.Raw("td_null"); } usIPAddress">@table.IPAddress</td>
      <td class="@if (string.IsNullOrEmpty(table.Msisdn)) { @Html.Raw("td_null"); }">
        @table.Msisdn
      </td>
      <td class="@if (string.IsNullOrEmpty(table.PaymentRequestStatus)) { @Html.Raw("td_null"); }">
        @table.PaymentRequestStatus
      </td>
      <td class="@if (string.IsNullOrEmpty(table.PaymentStatus)) { @Html.Raw("td_null"); }">
        @table.PaymentStatus
      </td>
      <td class="@if (!table.PaymentCreated.HasValue) { @Html.Raw("td_null"); }">
        @ViewDateConverter.GetDate(table.PaymentCreated)
      </td>
      <td class="@if (!table.PaymentContentAccessPolicyID.HasValue) { @Html.Raw("td_null"); }">
        @table.PaymentContentAccessPolicyIDString
      </td>
      <td class="@if (!table.TransactionID.HasValue) { @Html.Raw("td_null"); } td_transaction">
        @table.TransactionIDString
      </td>
      <td class="@if (!table.TransactionCreated.HasValue) { @Html.Raw("td_null"); }">
        @ViewDateConverter.GetDate(table.TransactionCreated)
      </td>
    </tr>
  }
</table>

@*
  Transaction duplicate fix  
*@

<script>

  var lastTransactionID = -1;

  $('.td_transaction').each(function () {
    var tid = parseInt($(this).text());

    if (tid == NaN)
      return;

    if (tid == lastTransactionID)
    {
      $(this).closest('tr').addClass('tr_duplicate');
      var currentCount = parseInt($('#database_count').text()) - 1;
      console.log(currentCount + ' ' + $('#database_count').text());
      $('#database_count').text(currentCount);
    }

    lastTransactionID = tid;
  });

</script>


